/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding: 1rem;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0;
}

p:first-of-type{
  padding-bottom: 0.75rem;
}

.btn{
  background-color: #337AB7;
}

.link a {
  text-decoration: none;
  color: #337AB7;
}

.card-answer{
  border-left: 0.5rem solid #DDDDDD;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.coach{
  background-color: #FFFFE1;
}

#question, #answer{
  width: 50%;
  margin: 0 auto;
}

#form{
  display: flex;
}
